/* Default styles */
.app {
  height: 100vh;
  display: flex;
  color: white;
  background: linear-gradient(#160269, #060117);;
}

.main {
  width: 75%;
  background: url("./components/assets/kbcbg.webp") center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}

.pyramid {
  width: 25%;
  background-color: #020230;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  padding: 20px;
  list-style: none;
  width: 100%;
  margin-bottom: 80px;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px 5px 6px 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: rgb(229, 132, 6);
}

.moneyListItemNumber {
  width: 30%;
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 7px solid rgb(173, 113, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 80px;
  left: 80px;
  font-size: 50px;
  font-weight: 800;
  background: linear-gradient(#ebae33, rgb(208, 133, 2));
}

.bottom {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#100241, black);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  margin: 0 10px 30px 10px;
  text-align: center;
  background: linear-gradient(#150177, #08001d);
  border: 1px solid white;
  border-radius: 15px;
  font-weight: 320;
  font-size: 20px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#150177, #08001d);
  }
  62%,
  100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: mediumblue;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#150177, #08001d);
  }
  62%,
  100% {
    background: red;
  }
}



.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.start {
  width: 550px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  background: linear-gradient(#3ef43e, #017b2a);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.startInput {
  width: 70%;
  height: 30%;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

.startInput:focus {
  outline: none;
}

.startButton {
  width: 70%;
  height: 30%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background: linear-gradient(#160269, #060117);
  text-transform: uppercase;
  color: white;
}

.earnText {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50vh;
  align-items: center;
  font-weight: 600;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(222, 154, 6);
  margin-bottom: 15%;
  line-height: 1.8;
  text-align: justify;
  text-shadow: 0 0 3px #e21309;
  /* text-shadow: 2px 2px 4px #f3f2edee; */
  border: 5px solid rgb(222, 154, 6); /* Apple-like border */
  
  border-radius: 20px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5); 
  
}

.username {
  font-weight: bold;
  text-transform: capitalize;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .answers {
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
  }
  .answer {
    width: 60%;
    padding: 10px;
    margin: 0 10px 30px 10px;
    font-weight: 320;
    font-size: 20px;
    cursor: pointer;
  }
  
  
  .main {
    width: 100%;
  }
  .earnText {
    width: 90%;
  }
  .pyramid{
    width:50%;
  }
}

@media screen and (max-width: 576px) {
  .top{
    height: 40%;
  }
  .bottom{
    height: 30%;
  }
  .answers{
    display: flex;
  }
  .answer {
    width: 70%;
    padding: 10px;
    margin: 0 10px 30px 10px;
    font-weight: 320;
    font-size: 20px;
    cursor: pointer;
  }
  
  
  .pyramid{
    width:70%;
  }
  .start {
    width: 90%;
  }

  .startInput {
    width: 90%;
  }

  .startButton {
    width: 90%;
  }
  .earnText {
    font-size: 8vw; /* Adjusted font size for smaller screens */
  }
  .trivia {
    gap: 50px;
  }
  
}
